#fs_cuerpo{
	width:70%;
}

#fs_menu{
	width:30%;
}

@media screen and (max-width: 782px) {

#fs_cuerpo{
	width:100%;
}

#menu a{
	display:none;
}

#fs_menu, #menu{
	width:10%;
}

#fs_menu:hover{
	width:45%;
}


#fs_menu:hover #menu{
	width:100%;
}

#fs_menu:hover #menu a{
	display:block;
}



/*
#tr_menu:hover, #menu:hover a{
	width:45%;
	display:block;
}
*/

.grupoCampos {
    box-sizing: border-box;
	width:100%;
}

.tituloCelda{
	text-align:cente;
}

.grupoCampos td, .grupoCampos th {
    display: block;
    vertical-align: middle;
    width: auto;
}
.grupoCampos .color-palette td {
    display: table-cell;
    width: 15px;
}
/*
.grupoCampos table.color-palette {
    margin-right: 10px;
}
*/

.grupoCampos textarea, .grupoCampos span.description, .grupoCampos td input[type="password"], .grupoCampos td input[type="text"], .grupoCampos td select, .grupoCampos td textarea {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    max-width: none;
    padding: 7px 10px;
    width: 100%;
}


.grupoCampos input.small-text[type="text"], input.small-text[type="number"], input.small-text[type="password"], input.small-text[type="search"], input.small-text[type="text"] {
    display: inline;
    margin: 0 3px;
    max-width: 55px;
    padding: 3px 6px;
    width: auto;
}

/*
.grupoCampos span.description {
    line-height: 1.4em;
    padding: 4px 0 0;
}
*/
.grupoCampos th .tituloCelda{
    border-bottom: 0 none;
    padding-bottom: 0;
    padding-top: 10px;
	text-align:center;
}
.grupoCampos td {
    padding-left: 0;
    padding-top: 8px;
}
.grupoCampos input.regular-text {
    width: 100%;
}
.grupoCampos label {
    font-size: 14px;
}
.grupoCampos fieldset label {
    display: block;
}

}