/* CSS Document */
.clearFix:after { /* for modern browsers */
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearFix { /* for IE7/Win */
    min-height:1px;
}
* html .clearFix { /* for IE5-6/Win */
    height:1px;
}
* html>body .clearFix { /* for IE5/Mac */
    height:auto;
    display:inline-block;
}

/* The following rule is a fix for a CSS specifity bug in IE. Without this fix
   IE incorrectly applies the left red border to any NOROLL item on hover/focus.
   If you don't use any NOROLL items, you will not need this rule at all. */

#Menu1 a.NOROLL {
	border-color:#fff !important;
}
